body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    overflow-x: hidden;
    position: relative;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
   
.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 50px;
    background-color: rgba(30, 30, 30, 0.8);
    color: white;
    position: relative;
    z-index: 2;
    border-bottom: 2px solid #ea730b; /* Linie de separare între header și conținut */
}

h1 {
    margin: 0;
    font-size: 36px;
    color: #ea730b;
    font-weight: bold;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    padding: 5px 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 2px;
    background-color: #ea730b;
    transition: transform 0.3s ease;
}

nav a:hover {
    color: #ea730b;
    transform: scale(1.1);
}

nav a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

nav a.active::after {
    transform: translateX(-50%) scaleX(1);
}

main {
    width: 80%;
    max-width: 900px;
    margin: 60px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.4); /* Un fundal semi-transparent mai închis */
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    text-align: center;
}


main:hover {
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 28px;
    color: #ea730b;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
    background-color: rgb(189, 189, 189);
}

.contact-form button {
    background-color: #ea730b;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #ec8e3c;
}

.contact-info {
    margin-top: 30px;
    text-align: left;
    font-size: 16px;
}

.contact-info h3 {
    color: #ea730b;
    margin-bottom: 10px;
}

.contact-info p {
    margin: 5px 0;
    color: white;
}
